/**
 * common.scss
 */

/* Basic inits =================================== */

html {
  height: 100%;
  width: 100%;
	overflow-y: scroll;
	overflow-x: hidden;
  // Prevent text size change on orientation change.
  -webkit-text-size-adjust: 100%;
}
body {
	background-color: colors('basic', 'white');
	color: colors('basic', 'black');
	font-family: Interface, Arial, Helvetica, "Sans-Serif";
	font-weight: 400;
  height: 100%;
  width: 100%;
	-webkit-font-smoothing: antialiased;
	//overflow-x: hidden;

  @include grid-media-query(portable) {
    // black-translucent 20px mobile top extra
    // http://blog.teamtreehouse.com/optimizing-mobile-web-apps-ios
    //padding-top: 20px;
  }
}

label,
input[type="checkbox"],
input[type="radio"] {
	cursor: pointer;
}

/**
 * There is a left panel menu
 */
$panelwidth: 100%;
$alphawidth: 46px;
$panelwidth-lap: 235px;
$alphawidth-lap: 46px;
$panelwidth-desk: 266px;
$alphawidth-desk: 66px;


/**
 * .Nav
 * Outside global wrapper
 */
.Nav {
	background: colors('menu', 'bg', 'global');
	width: 100%;
	height: 100%;
  position: fixed;
	//position: absolute;
  overflow-y: scroll;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: z('root');
  &__left,
  &__right {
    @extend %inlineblock;
    vertical-align: top;
  }
  &__left {
    width: 85%;
    @include grid-media-query(lap) {
      width: $panelwidth-lap - $alphawidth-lap;
    }
    @include grid-media-query(desk) {
      width: $panelwidth-desk - $alphawidth-desk;
    }
  }
  &__right {
    width: 15%;
    @include grid-media-query(lap) {
      width: $alphawidth-lap;
    }
    @include grid-media-query(desk) {
      width: $alphawidth-desk;
    }
  }
}
/**
 * .Alphabet (in .Nav)
 */
.Alphabet {
  background-color: colors('menu', 'bg', 'sub');
  padding: 35px 0;
  &__item {
    background-color: colors('menu', 'bg', 'sub');
    transition: background-color .3s ease-out;
	&:hover {
    	background-color: darken(colors('menu', 'bg', 'sub'), 3%);
	}
  }
  &__check {
    position: absolute;
    left: -99999em;
    /*&:hover ~ .Alphabet__label {
      opacity: .6;
    }*/
    &:checked &:hover {
    	background-color: lighten(colors('menu', 'bg', 'sub'), 3%);
    }
    &:checked ~ .Alphabet__label {
      color: colors('menu', 'button', 'normal');
    }
  }
  &__label {
    color: colors('basic', 'white');
    cursor: pointer;
    display: block;
    height: 30px;
    padding-top: 10px;
    text-align: center;
    text-transform: uppercase;
    transition: color .1s linear;
    width: 100%;
  }
}


/**
 * .Wrapper
 * Global wrapper, all inclusive
 */
.Wrapper {
	min-height: 100%;
  //min-width: 100%;
  background-color: colors('basic', 'white'); /* Needs a background or else the nav will show through */
  position: relative;
  top: 0;
  bottom: 100%;
  left: 0;
  z-index: z('default');

  @include grid-media-query(lap) {
    padding: 2em calc(2em + #{$panelwidth-lap}) 2em 2em;
  }
  @include grid-media-query(desk) {
    padding: 4em calc(4em + #{$panelwidth-desk}) 4em 4em;
  }
}

/**
 * Pure css Burger menu
 * http://www.sitepoint.com/pure-css-off-screen-navigation-menu/
 */

.nav-trigger {
    position: absolute;
    clip: rect(0, 0, 0, 0);
}

label[for="nav-trigger"] {
  /* critical positioning styles */
  position: fixed;
  left: 15px; top: 15px;
  z-index: 2;

  /* non-critical apperance styles */
  height: 30px;
  width: 30px;
  cursor: pointer;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='30px' height='30px' viewBox='0 0 30 30' enable-background='new 0 0 30 30' xml:space='preserve'><rect width='30' height='6'/><rect y='24' width='30' height='6'/><rect y='12' width='30' height='6'/></svg>");
  background-size: contain;
}

/* Make the Magic Happen */
.nav-trigger + label, .Wrapper {
	transition: left 0.2s;
}

.nav-trigger:checked + label {
	left: 0;
  //left: calc(100% - 60px);
}

.nav-trigger:checked ~ .Wrapper {
	left: 100%; //calc(100% - 60px);
	//box-shadow: 0 0 5px 5px rgba(0,0,0,0.5);
}

// for project's use case
// .Nav need to be always open in lapandup
@include grid-media-query(lapandup) {
	.nav-trigger,
	label[for="nav-trigger"] {
		top: -99999em;
		position: absolute;
	}
	.nav-trigger:checked + label,
	.nav-trigger + label {
    @include grid-media-query(lap) {
      left: $panelwidth-lap + 15px;
    }
    @include grid-media-query(desk) {
		  left: $panelwidth-desk + 15px;
    }
	}
	.nav-trigger:checked ~ .Wrapper,
	.nav-trigger ~ .Wrapper {
    @include grid-media-query(lap) {
      left: $panelwidth-lap;
    }
    @include grid-media-query(desk) {
      left: $panelwidth-desk;
    }
  		//box-shadow: 0 0 5px 5px rgba(0,0,0,0.5);
	}
}


