/**
 * common.scss
 */

/* Basic inits =================================== */

html {
  height: 100%;
  width: 100%;
	overflow-y: scroll;
	overflow-x: hidden;
  // Prevent text size change on orientation change.
  -webkit-text-size-adjust: 100%;
}
body {

	color: colors('basic', 'black');
	font-family: Interface, Arial, Helvetica, "Sans-Serif";
	font-weight: 400;
  height: 100%;
  width: 100%;
	-webkit-font-smoothing: antialiased;
	//overflow-x: hidden;

  @include grid-media-query(palm) {
    background: colors('basic', 'white') url('../images/bg_body_palm.jpg') 0 0 repeat-y;
  }
  @include grid-media-query(lap) {
    background: colors('basic', 'white') url('../images/bg_body_lap.jpg') 0 0 repeat-y;
  }
  @include grid-media-query(desk) {
    background: colors('basic', 'white') url('../images/bg_body_desk.jpg') 0 0 repeat-y;
  }

  @include grid-media-query(portable) {
    // black-translucent 20px mobile top extra
    // http://blog.teamtreehouse.com/optimizing-mobile-web-apps-ios
    //padding-top: 20px;
  }

}

::selection {
    color: colors('basic', 'white');
    background: colors('menu', 'bg', 'global');
    text-shadow: none
}

label,
input[type="checkbox"],
input[type="radio"] {
	cursor: pointer;
}

/**
 * There is a left panel menu
 */
$panelwidth: 100%;
$alphawidth: 46px;
$panelwidth-lap: 235px;
$alphawidth-lap: 46px;
$panelwidth-desk: 266px;
$alphawidth-desk: 66px;


/**
 * .Nav
 * Outside global wrapper
 */
.Nav {
	//background: colors('menu', 'bg', 'global');
	width: 100%;
	height: 100%;
  position: fixed;
	//position: absolute;
  overflow-y: scroll;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: z('root');
  &__left,
  &__right {
    @extend %inlineblock;
    vertical-align: top;
  }
  &__left {
    width: 85%;
    @include grid-media-query(lap) {
      width: $panelwidth-lap - $alphawidth-lap;
    }
    @include grid-media-query(desk) {
      width: $panelwidth-desk - $alphawidth-desk;
    }
  }
  &__right {
    width: 15%;
    @include grid-media-query(lap) {
      width: $alphawidth-lap;
    }
    @include grid-media-query(desk) {
      width: $alphawidth-desk;
    }
  }
  &__logo {
    width: 100%;
    @include grid-media-query(palm) {
      padding-bottom: 100px;
      padding-left: 50px;
    }
    @include grid-media-query(portable) {
      padding-top: 60px;
    }
    @include grid-media-query(lapandup) {
      padding-bottom: 180px;
    }
    @include grid-media-query(lap) {
      padding-left: 23px;
    }
    @include grid-media-query(desk) {
      padding-top: 45px;
      padding-left: 30px;
    }
  }
  &__filters {
    list-style-type: none;
    width: 100%;
  }
}
/**
 * .Filters (in .Nav)
 */
.Filters {
  user-select: none;
  &__button {
    background: colors('menu', 'bg', 'global');
    color: colors('text', 'filterbtn');
    cursor: pointer;
    height: 60px;
    position: relative;
    text-align: left;
    text-transform: uppercase;
    user-select: none;
    width: 100%;
    span {
    	display: inline-block;
      vertical-align: middle;
    }
    &--check {
      //display: none;
      opacity: 0;
      transform: translate3d(0, 0, 0);
      transition: all .3s ease-out;
      &.is-list-elem-check {
				transform: translate3d(10px, 0, 0);
        opacity: 1;
      }
    }
    transition: background .1s ease-out;
    &:hover {
    	background: darken(colors('menu', 'bg', 'sub'), 5.5%);
    }
    &:active, &:focus {
    	outline: 1px dotted colors('menu', 'bg', 'sub');
    }
    &:before {
      content: '';
      bottom: 0;
      background-color: colors('gfx', 'underbtn');
      width: 100%;
      height: 1px;
      position: absolute;
      @include grid-media-query(palm) {
        left: 25px;
        width: 175px;
      }
      @include grid-media-query(lap) {
        left: 23px;
        width: 135px;
      }
      @include grid-media-query(desk) {
        left: 12px;
        width: 175px;
      }
    }
    &:after {
      content: '\25bc';
      position: absolute;
      top: 18px;
      right: 20px;
      color: colors('menu', 'bg', 'sub');
      font-size: 21px;
      transform: scaleY(0.6) rotate(0deg);
      transition: transform .2s linear, text-shadow .2s linear;
      text-shadow: 1px 1px 2px rgba(0,0,0,.6);
    }
    &.is-check:after {
      transform: scaleY(0.6) rotate(-180deg);
      text-shadow: -1px -1px 2px rgba(0,0,0,.6);
    }
    @include grid-media-query(palm) {
      padding-left: 50px;
    }
    @include grid-media-query(lap) {
      padding-left: 23px;
    }
    @include grid-media-query(desk) {
      padding-left: 30px;
    }
  }
  &__list {
    &.is-open li {
      height: 50px;
    }
  }
  &__item {
    height: 0;
    overflow: hidden;
    transition: all 0.5s cubic-bezier(.36,-0.64,.34,1.76);

  }
  &__input {
    position: absolute;
    left: -99999em;
  }
  &__label {

    background: colors('menu', 'bg', 'sub');
    color: colors('text', 'filterbtn');
    display: block;
    height: 50px;
    padding-top: 15px;
    position: relative;
    user-select: none;
    width: 100%;
    &.is-label-check {
      color: colors('menu', 'button', 'normal');
    }
    span {
      vertical-align: middle;

    }
    &--check {
      display: none;
      position: absolute;
      &.is-elem-check {
        display: inline-block;
      }
      @include grid-media-query(palm) {
        right: 75px;
      }
      @include grid-media-query(lap) {
        right: 35px;
      }
      @include grid-media-query(desk) {
        right: 45px;
      }
    }
    transition: background .1s ease-out;
    &:hover {
    	background: lighten(colors('menu', 'bg', 'sub'), 1%);
    }
    @include grid-media-query(palm) {
      padding-left: 50px;
    }
    @include grid-media-query(lap) {
      padding-left: 23px;
    }
    @include grid-media-query(desk) {
      padding-left: 30px;
    }
  }
  &__li-search {
    background:transparent url('../images/gfx/magnify.png') 91% center no-repeat;
  }
  &__search {
    background: colors('menu', 'bg', 'global');
    color: colors('text', 'filterbtn');
    height: 60px;
    position: relative;
    width: 80%;
    &:active, &:focus {
      outline: 0;
    }
    @include grid-media-query(palm) {
      padding-left: 50px;
    }
    @include grid-media-query(lap) {
      padding-left: 23px;
    }
    @include grid-media-query(desk) {
      padding-left: 30px;
    }
  }
  &__li-clear {
    padding-top: 20px;
    text-align: center;
    width: 100%;
  }
  &__clear {
    background: colors('menu', 'bg', 'global');
    border: 1px colors('gfx', 'underbtn') solid;
    color: colors('text', 'filterbtn');
    cursor: pointer;
    height: 33px;
    margin: 0 auto;
    padding-right: 15px;
    position: relative;
    text-align: right;
    user-select: none;
    width: 152px;
    &:before {
      background: transparent url('../images/gfx/sprite_clear.png') left 0 no-repeat;
      content: '';
      height: 14px;
      left: 8px;
      position: absolute;
      top: 8px;
      width: 14px;
    }
    transition: all .2s linear;
    &:hover {
      color: colors('menu', 'button', 'normal');
      border-color: colors('gfx', 'hoverbtn');
      &:before {
        background-position: left -14px;
      }
    }
    &:active, &:focus {
      outline: 1px dotted colors('menu', 'bg', 'sub');
    }

  }
}
::-webkit-input-placeholder {
  color: colors('text', 'filterbtn');
  text-transform: uppercase;
}
:-moz-placeholder { /* Firefox 18- */
  color: colors('text', 'filterbtn');
  text-transform: uppercase;
}
::-moz-placeholder {  /* Firefox 19+ */
  color: colors('text', 'filterbtn');
  text-transform: uppercase;
}
:-ms-input-placeholder {
  color: colors('text', 'filterbtn');
  text-transform: uppercase;
}

/**
 * .Alphabet (in .Nav)
 */
.Alphabet {
  background-color: colors('menu', 'bg', 'sub');
  padding: 35px 0;
  user-select: none;
  &__item {
    background-color: colors('menu', 'bg', 'sub');
    transition: background-color .3s ease-out;
	&:hover {
    	background-color: darken(colors('menu', 'bg', 'sub'), 3%);
	}
  }
  &__check {
    position: absolute;
    left: -99999em;
    /*&:hover ~ .Alphabet__label {
      opacity: .6;
    }*/
    &:checked &:hover {
    	background-color: lighten(colors('menu', 'bg', 'sub'), 3%);
    }
    &:checked ~ .Alphabet__label {
      //font-weight: bold;
      color: colors('menu', 'button', 'normal');
    }
  }
  &__label {
    color: colors('basic', 'white');
    cursor: pointer;
    display: block;
    height: 30px;
    padding-top: 10px;
    text-align: center;
    text-transform: uppercase;
    transition: color .1s linear;
    width: 100%;
  }
}


/**
 * .Wrapper
 * Global wrapper, all inclusive
 */
.Wrapper {
	height: 100%;
  min-height: 100%;
  //min-width: 100%;
  background-color: colors('basic', 'white'); /* Needs a background or else the nav will show through */
  position: relative;
  top: 0;
  bottom: 100%;
  //left: 0;
  transform: translate3d(0,0,0);
  z-index: z('default');
  &:after {
		content: '';
		background-color: colors('basic', 'white');
		//left: 0;
		transform: translate3d(0,0,0);
		//bottom: 0;
		height: 100%;
		width: 100%;
		position: fixed;
		z-index: -1;
  }

}
/**
 * Content (in .Wrapper)
 */
.Content {
  @include grid-media-query(lap) {
    margin: 2em calc(2em + #{$panelwidth-lap}) 2em 2em;
  }
  @include grid-media-query(desk) {
    margin: 4em calc(4em + #{$panelwidth-desk}) 4em 4em;
  }

}

/**
 * Pure css Burger menu
 * http://www.sitepoint.com/pure-css-off-screen-navigation-menu/
 */

.nav-trigger {
    position: absolute;
    clip: rect(0, 0, 0, 0);
}

label[for="nav-trigger"] {
  /* critical positioning styles */
  position: fixed;
  left: 15px; top: 15px;
  z-index: 2;

  /* non-critical apperance styles */
  height: 30px;
  width: 30px;
  cursor: pointer;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='30px' height='30px' viewBox='0 0 30 30' enable-background='new 0 0 30 30' xml:space='preserve'><rect width='30' height='6'/><rect y='24' width='30' height='6'/><rect y='12' width='30' height='6'/></svg>");
  background-size: contain;
}

/* Make the Magic Happen */
.nav-trigger + label, .Wrapper {
	transition: transform 0.2s;
}

.nav-trigger:checked + label {
	//left: 0;
	transform: translate3d(0,0,0);
  //left: calc(100% - 60px);
}

.nav-trigger:checked ~ .Wrapper {
	//left: 100%; //calc(100% - 60px);
	transform: translate3d(100%,0,0);
	//box-shadow: 0 0 5px 5px rgba(0,0,0,0.5);
}

// for project's use case
// .Nav need to be always open in lapandup
.nav-trigger:checked ~ .Wrapper:after {
	@include grid-media-query(palm) {
		//left: 100%;
		transform: translate3d(100%,0,0);
	}
}
@include grid-media-query(lapandup) {
	.nav-trigger,
	label[for="nav-trigger"] {
		top: -99999em;
		position: absolute;
	}
	.nav-trigger:checked + label,
	.nav-trigger + label {
    @include grid-media-query(lap) {
      transform: translate3d($panelwidth-lap + 15px,0,0);
    }
    @include grid-media-query(desk) {
		  transform: translate3d($panelwidth-desk + 15px,0,0);
    }
	}

	.nav-trigger:checked ~ .Wrapper,
	.nav-trigger ~ .Wrapper {
    @include grid-media-query(lap) {
      transform: translate3d($panelwidth-lap,0,0);
    }
    @include grid-media-query(desk) {
      transform: translate3d($panelwidth-desk,0,0);
    }
  		//box-shadow: 0 0 5px 5px rgba(0,0,0,0.5);
	}
}


/**
 * Footer
 */
.Footer {
	bottom: 0;
	color: colors('basic', 'white');
	left: 0;
	position:fixed;

}

