{{#each app}}
<li class="col-md-4 col-sm-6" data-app-id="{{id}}">
  <div class="icon"><img class="img-responsive" src="{{icon}}"></div>
  <div class="details">
    details
  </div>
</li>
{{else}}
<li class="searching"><img src="/images/spinner.gif" class="spinner"> Recherche en cours…</li>
{{/each}}
