<nav id="menuUI" class="Nav" role="navigation"></nav>
<input type="checkbox" id="nav-trigger" class="nav-trigger" />
<label for="nav-trigger"></label>
<div class="Wrapper" role="main">
	<span id="onlineMarker" class="glyphicon glyphicon-signal" title="Vous êtes connecté(e)"></span>
	<div class="col-md-8"><div id="appsUI" class="well"></div></div>
  <div class="nothing" style="display:none">
    nothing found !
  </div>
	<footer role="contentinfo">
		yeah men !
	</footer>

	<div class="modal fade" id="reloadPrompt" style="display:none" role="alertdialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button class="close" data-dismiss="modal" aria-hidden="true">×</button>
					<h4 class="modal-title">Nouvelle version disponible !</h4>
				</div>
				<div class="modal-body">
					<p>Une nouvelle version de cette application est disponible.</p>
					<p>Souhaitez-vous la charger dès maintenant ?</p>
				</div>
				<div class="modal-footer">
					<a href="" class="btn btn-primary">Mais carrément !</a>
					<button type="button" class="btn btn-default" data-dismiss="modal">pas la peine</button>
				</div>
			</div>
		</div>
	</div>
</div>



