<nav id="menuUI" class="Nav" role="navigation"></nav>
<input type="checkbox" id="nav-trigger" class="nav-trigger" />
<label for="nav-trigger"></label>
<div class="Wrapper" role="main">
  <h1 class="Wrapper__title"><span>Solutions</span><span>Métiers</span><span>Mobilité</span></h1>
	<div id="onlineMarker" class="Wrapper__onoff">
   <span class="Wrapper__onoff--on js-on">Online</span>
   <span class="Wrapper__onoff--off js-off">Offline</span>
  </div>
	<div id="appsUI" class="Content"></div>
  <div class="Content Content__nothing js-noresults" style="display:none">
    <p class="Content__nothing--p">
      Aucune application ne correspond
      <br>
      aux filtres sélectionnés.
    </p>
  </div>

	<div class="modal fade" id="reloadPrompt" style="display:none" role="alertdialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button class="close" data-dismiss="modal" aria-hidden="true">×</button>
					<h4 class="modal-title">Nouvelle version disponible !</h4>
				</div>
				<div class="modal-body">
					<p>Une nouvelle version de cette application est disponible.</p>
					<p>Souhaitez-vous la charger dès maintenant ?</p>
				</div>
				<div class="modal-footer">
					<a href="" class="btn btn-primary">Mais carrément !</a>
					<button type="button" class="btn btn-default" data-dismiss="modal">pas la peine</button>
				</div>
			</div>
		</div>
	</div>
</div>



